h2 {
  margin-bottom: 0;
}

body {
  background-color: #F3F3EE;
}

.jumbotron {
  background: url("mp-img.jpeg");
  background-size: cover;
  height: 600px;
}
.card-header, li {
  margin-bottom: 10px;
}

.card {
  margin: 10px;
}
.card.headcard {
    height: 500px;
}

.goldbg {
    background-color: #F7F1D0;
}

.silver {
  background-color: #bababa;
}

.bronze {
  background-color: #870C0C;
  color: #FFF;
}

@media screen and (max-width: 991px) {
  .card.headcard {
    height: 400px;
  }
}
